@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Під час обробки вашого запиту сталася помилка.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Ідентифікатор запиту:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Перехід у середовище <strong>Development</strong> дозволить переглянути детальнішу інформацію про помилку, що сталася.
</p>
<p>
    <strong>Середовище Development не слід вмикати для розгорнутих застосунків.</strong>
    Це може призвести до відображення конфіденційної інформації з винятків кінцевим користувачам.
    Для локального налагодження увімкніть середовище <strong>Development</strong>, встановивши змінну середовища <strong>ASPNETCORE_ENVIRONMENT</strong> значення <strong>Development</strong>
    і перезапустіть застосунок.
</p>
