@model ClientsApp.Models.Entities.Executor

@{
    ViewData["Title"] = "Додати Виконавця";
    var today = DateTime.Today.ToString("yyyy-MM-dd");
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="FullName" class="form-label"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="HourlyRate" class="form-label"></label>
        <input asp-for="HourlyRate" asp-format="{0:0}" class="form-control" type="text" inputmode="numeric" pattern="[0-9]+" />
        <span asp-validation-for="HourlyRate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DismissedFrom" class="form-label"></label>
        <input asp-for="DismissedFrom" type="date" class="form-control" min="@today" />
        <span asp-validation-for="DismissedFrom" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="mb-3 col-md-6">
            <label asp-for="UnavailableFrom" class="form-label"></label>
            <input asp-for="UnavailableFrom" type="date" class="form-control" min="@today" />
            <span asp-validation-for="UnavailableFrom" class="text-danger"></span>
        </div>
        <div class="mb-3 col-md-6">
            <label asp-for="UnavailableTo" class="form-label"></label>
            <input asp-for="UnavailableTo" type="date" class="form-control" min="@today" />
            <span asp-validation-for="UnavailableTo" class="text-danger"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Створити</button>
    <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
